<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
		 http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
  <!-- In this file we will declare and map servlets/filters to names and url patterns -->
  <servlet>
    <servlet-name>InventoryLoginScreen</servlet-name>
    <servlet-class>com.ex.web.MyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InventoryLoginScreen</servlet-name>
    <url-pattern>/loginscreen</url-pattern>
  </servlet-mapping>
</web-app>
