Shelter Pet Application

-An Employee can login
-An Employee can logout
-A petowner can view the pets for adoption page

-A petowner can login
-A petowner can view the pets for adoption page
-A petowner can logout
