<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>OnlineGradeBook</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
  	<servlet-name>Login</servlet-name>
  	<servlet-class>gradebook.servlets.LoginServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>Login</servlet-name>
  	<url-pattern>/login</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>CourseList</servlet-name>
  	<servlet-class>gradebook.servlets.CourseListServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>CourseList</servlet-name>
  	<url-pattern>/courses</url-pattern>
  </servlet-mapping>
  
   <servlet>
  	<servlet-name>Course</servlet-name>
  	<servlet-class>gradebook.servlets.CourseServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>Course</servlet-name>
  	<url-pattern>/course</url-pattern>
  </servlet-mapping>
  
   <servlet>
  	<servlet-name>AddNewAssignment</servlet-name>
  	<servlet-class>gradebook.servlets.AddNewAssignmentServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>AddNewAssignment</servlet-name>
  	<url-pattern>/create-assignment</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>Assignment</servlet-name>
  	<servlet-class>gradebook.servlets.AssignmentServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>Assignment</servlet-name>
  	<url-pattern>/assignment</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>GradeSubmission</servlet-name>
  	<servlet-class>gradebook.servlets.GradeSubmissionServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>GradeSubmission</servlet-name>
  	<url-pattern>/grade-submission</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>UploadSubmission</servlet-name>
  	<servlet-class>gradebook.servlets.UploadSubmissionServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>UploadSubmission</servlet-name>
  	<url-pattern>/upload-submission</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>UpdatePassword</servlet-name>
  	<servlet-class>gradebook.servlets.UpdatePasswordServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>UpdatePassword</servlet-name>
  	<url-pattern>/update-password</url-pattern>
  </servlet-mapping>
</web-app>