<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
  http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
  <display-name>Map</display-name>
  <listener>
    <listener-class>system.PostContextListener</listener-class>
  </listener>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <servlet>
    <servlet-name>PostServlet</servlet-name>
    <servlet-class>web.PostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostServlet</servlet-name>
    <url-pattern>/get_posts</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AllPostsServlet</servlet-name>
    <servlet-class>web.AllPostsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllPostsServlet</servlet-name>
    <url-pattern>/get_all_posts</url-pattern>
  </servlet-mapping>
</web-app>